.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.image-slider{
    margin-top: 4%;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #343131;
}

.slider-wrapper{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    user-select: none;

}

.image-text{
    color: aliceblue;
    font-size: 2em;
}

.image-list{
    width: 40%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.image-list > img{
    width: 100%;
    height: 100%;
}

#left-arrow, #right-arrow{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    /*
    width: 70px;
    height: 70px;
    */
    width: calc(3.65vw);
    height: calc(3.65vw);
    transition: 0.2s;
    float: left;
    box-shadow: 3px 3px  #d0aa14;
    cursor: pointer;

}

#left-arrow:hover, #right-arrow:hover{
    opacity: 0.6;
    box-shadow: 5px 5px aliceblue;
}

#left-arrow:active, #right-arrow:active{
    opacity: 0.6;
    box-shadow: 2px 2px aliceblue;
}


#left-arrow{
    transform: rotate(135deg);
}

#right-arrow{
    transform: rotate(-45deg);
}

.test-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.test{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.test > *{
    transition: 0.9s;
}

.middle{
    color: #d0aa14;
    background: url("https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_960_720.jpg");
    width: 19%;
    background-size: cover;
}

.left{
    color: #61dafb;
    background: url("https://live.staticflickr.com/1799/43177168225_1f78e5f054_b.jpg");
    width: 19%;
    background-size: cover;
}

.right{
    color: deeppink;
    background: url("https://live.staticflickr.com/1088/1306006614_75557f5bf3_b.jpg");
    width: 19%;
    background-size: cover;
}

.left-hidden{
    color: blueviolet;
    background: url("https://www.goodfreephotos.com/albums/italy/other-italy/beautiful-landscape-with-mountains-and-lakes-with-sky-in-italy.jpg");
    width: 19%;
    background-size: cover;
}

.right-hidden{
    color:green;
    background: url("https://cdn.pixabay.com/photo/2018/08/19/10/16/nature-3616194_960_720.jpg");
    width: 19%;
    background-size: cover;
}

.move-left{
    transform: translateX(-16vw);
}

.move-right{
    transform: translateX(16vw);
}